body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
header {
    height: max-content;
    /* margin-right: auto;
    margin-left: auto; */
}
.header__wrapper .header__logo {
    margin-top: 5px;
    transform: scale(0.8, 0.8);
    display: inline-table;
}
.header__wrapper .number__one {
    position: relative;
}
.header__wrapper .lucky {
    margin-left: 98px !important;
    position: relative;
}
.header__wrapper .lucky::before {
    content: "";
    background-image: url('../images/lucky.png');
    background-size: 38px 38px;
    width: 38px; 
    height: 38px; 
    opacity: 0.5;
    top: 0;
    left: -42px;
    position: absolute;
}
.header__wrapper .number__one::before {
    content: "";
    background-image: url('../images/number_one.png');
    background-size: 38px 38px; 
    width: 38px; 
    height: 38px; 
    opacity: 0.5;
    top: 0;
    left: -42px;
    position: absolute;
}
.header__wrapper {
    display: inline-flex;
}
.header__wrapper .menu {
    margin-left: 60px;
    display: inline-flex;
}
.header__wrapper h5 {
    margin-left: 10px;
}
.header__wrapper .menu p {
    margin-left: 60px;
    color: #d9dee5;
}

section {
    height: 700px;
}
.section__one {
    position: relative;
    background-image: url('../images/image__one.png');
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-color: #e2e2e2;
}
.section__one::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
}
.section__one::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image:
    radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
}

